* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  height: 100vh;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #111;
  overflow-y: hidden;
  line-height: 1.5;
  height: 100%;
  font-family: Consolas,monaco,monospace;
}
main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  color: #111;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
post-feed-item {
  margin-bottom: 2rem;
  display: block;
}
@media screen and (min-width: 30em) {
  main {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}