<main>
  <div *ngIf="tags.length > 0">
    <span>Showing tags (click to remove filter): </span>
    <ul class="tags">
      <li *ngFor="let tag of tags">
        <a (click)="removeTagFiler(tag)">{{ tag }}</a>
      </li>
    </ul>
  </div>
  <div *ngFor="let post of posts | async">
    <ng-container *ngIf="shouldShow(post)">
      <a routerLink="/post/{{post.slug}}"><h2>{{ post.title }}</h2></a>
      <time>{{ post.date.seconds * 1000 | date:'dd \'d\'e MMMM, yyyy' }}</time>
      <ul class="tags">
        <li *ngFor="let tag of post.tags">
          <a (click)="sortByTag(tag)">{{ tag }}</a>
        </li>
      </ul>
      <span>{{ post.abstract }}</span>
    </ng-container>
  </div>
</main>
<button>
  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
</button>